---
layout: home
---

<div class="home-header">
  {% include header.html %}
</div>
<div class="container body-container">
  <div class="wrapper">
  {% for post in site.posts limit:4 %}
    <div class="posts">
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <small>{{ post.subtitle }}</small>
      </h2>
      <p class="post-preview">
        <span>
          {% if post.teaser %}
            {{ post.teaser }}
          {% else %}
            {{ post.content | strip_html | truncatewords:50}}
          {% endif %}
        </span>
      </p>
      {% if post.image %}
        <figure>
          <a href="{{ post.url | prepend: site.baseurl }}">
            <img class="section-image" src="{{ post.image }}">
          </a>
        </figure>
      {% endif %}
    </div>
  {% endfor %}
</div></div>

{% include footer.html %}
