---
layout: home
title: Home
---

<script type="text/javascript">
    WebFontConfig = {
        google: { families: [ 'Damion::latin' ] }
    };
(function() {
 var wf = document.createElement('script');
 wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
 '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
 wf.type = 'text/javascript';
 wf.async = 'true';
 var s = document.getElementsByTagName('script')[0];
 s.parentNode.insertBefore(wf, s);
 })(); </script>

<p class="pipewriting">Ceci n’est pas un site Web d'une page</p>

<hr>

<p class="centre">We are Rob Safar and we’re paying for the domain <code>situationi.st</code>. We’re not really proper situationists - like who doesn’t love a bit of Guy Debord anyway - but we totally like thinking outside the box and figured Hey! That’s loads in common. More than enough to use it as a catchy title. <br>Not as a business name though.</p>

<h4>We’re Rob Safar, and always will be.</h4>

<hr>

<ul id="robstaff">
    <li class="staffimg">
        <img src="http://upload.wikimedia.org/wikipedia/commons/8/80/Mark_Butler_July_2013.jpg" width="200" height="200" />
        <span class="staffnam"><span><h4>Rob Safar</h4><br>Director of Promises</span></span>
    </li>
    <li class="staffimg">
        <img src="http://upload.wikimedia.org/wikipedia/commons/8/80/Mark_Butler_July_2013.jpg" width="200" height="200" />
        <span class="staffnam"><span><h4>Rob Safar</h4><br>Head of Semiotics</span></span>
    </li>
    <li class="staffimg">
        <img src="http://upload.wikimedia.org/wikipedia/commons/8/80/Mark_Butler_July_2013.jpg" width="200" height="200" />
        <span class="staffnam"><span><h4>Rob Safar</h4><br>Acronym Manager</span></span>
    </li>
    <li class="staffimg">
        <img src="http://upload.wikimedia.org/wikipedia/commons/8/80/Mark_Butler_July_2013.jpg" width="200" height="200" />
        <span class="staffnam"><span><h4>Rob Safar</h4><br>Postponement Manager</span></span>
    </li>
    <li class="staffimg">
        <img src="http://upload.wikimedia.org/wikipedia/commons/8/80/Mark_Butler_July_2013.jpg" width="200" height="200" />
        <span class="staffnam"><span><h4>Rob Safar</h4><br>Upside-Down Manager</span></span>
    </li>
    <li class="staffimg">
        <img src="http://upload.wikimedia.org/wikipedia/commons/8/80/Mark_Butler_July_2013.jpg" width="200" height="200" />
        <span class="staffnam"><span><h4>Rob Safar</h4><br>Technology Toucher</span></span>
    </li>
</ul>

<hr>

<p class="centre">We pride ourselves on our talent for micro-synergistic node linking solutions. Networked-communications, cyber-relationships, E-motions. Ever noticed that the pens on your desk weren’t neatly aligned with each other and couldn’t help but rearrange them? Imagine these pens aren’t pens but strategic decisions. <br>Exactly.</p>

<p class="centre">We’re huge fans of <strike>parallax</strike>parallel stationery, and we can help you to get (and keep) a grip on your E-motional wellbeing.</p>

<div id="pr1">
  <div id="pr2"></div>
  <div id="pr3">
    <div id="pr31">
      <div id="pr32"></div>
    </div>
  </div>
  <div id="pr4"></div>
</div>

<div id="pb1">
  <div id="pb2"></div>
  <div id="pb3">
    <div id="pb31">
      <div id="pb32"></div>
    </div>
  </div>
  <div id="pb4"></div>
</div>

<hr>

<h2>Hereof:</h2>
<div class="related">
    <ul class="related-posts">
        {% for post in site.posts limit:5 %}
        <li>
            <h3>
                <a href="{{ post.url }}">
                    {{ post.title }}
                    <small>{{ post.date | date_to_string }}</small>
                </a>
            </h3>
        </li>
        {% endfor %}
    </ul>
</div>

<!--<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  <hr>
  {% endfor %}
</div>-->
