<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">

  {% include head.html %}

  <body>


<div class="masthead" {% if page.title == "Home" %}style="width: 100%; height: 90%; background-image: url('https://whereofthereofmedia.s3.amazonaws.com/reflection.jpg'); background-position: center top; background-attachment: fixed;"{% endif %}>
    <h3 class="masthead-title" {% if page.title == "Home" %}style="background-color: #fff; border: 5px solid rgb(127, 127, 127); border: 5px solid rgba(255, 255, 255, .5); -webkit-background-clip: padding-box; background-clip: padding-box; margin-top: 200px; padding: 10px 0;"{% endif %}>
        <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
        <small>{{ site.tagline }}</small>
    </h3>
    <p>{% for page in site.pages_list %}
        <a href="{{ page[1]  }}">{{ page[0] }}</a>&nbsp;
    {% endfor %}</p>
</div>


    <div class="container">

      
      

      {{ content }}

      <div class="footer">
        {% include footer.html %}
      </div>
    </div>

  </body>
</html>
