<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">

  {% include head.html %}

  <body>


<div class="masthead" {% if page.title == "Home" %}style="width: 100%; height: 90%; background-image: url('{% for post in site.posts limit:1 %}{% if post.image %}{{ post.image }}{% else %}https://whereofthereofmedia.s3.amazonaws.com/reflection.jpg{% endif %}{% endfor %}'); background-position: center top; background-attachment: fixed; background-repeat: no-repeat;"{% endif %}>
    <h1 class="masthead-title" {% if page.title == "Home" %}style="background-color: #fff; border: 5px solid rgb(127, 127, 127); border: 5px solid rgba(255, 255, 255, .5); -webkit-background-clip: padding-box; background-clip: padding-box; margin-top: 150px; padding: 10px 0;"{% endif %}>
        <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
        <small>{{ site.tagline }}</small>
        <br><small>{% for page in site.pages_list %}
            <a href="{{ page[1]  }}">{{ page[0] }}</a>&nbsp;
            {% endfor %}</small>
    </h1>
    <p>&nbsp;</p>
    <h3 class="masthead-title" style="color: white; background-color:rgba(200,200,200,0.5); padding: 5px;">I'm Rob Safar and situationi.st is where I keep my projects. I'm based in London, UK and do Internet things.</h3>
</div>

    <div class="container content main-content">

      {{ content }}

    </div>

    <div class="container">
        
        <div class="content">
      
      {% for post in site.posts limit:1 %}
        <h2><a href="{{ post.url }}">{{ post.title }} <small>:{{ post.date | date_to_string }}</small></a></h2>
        <p>{{ post.content | strip_html | truncatewords:150}}</p>
        <p><a href="{{ post.url }}">Read more...</a></p>
      {% endfor %}
      
        <div class="related">
            <ul class="related-posts">
                {% for post in site.posts limit:5 offset:1 %}
                <li>
                    {% if post.image %}
                        <a href="{{ post.url }}"><img src="{{ post.image }}" title="{{ post.title }}"></a>
                    {% endif %}
                    <h3>
                        <a href="{{ post.url }}">
                            {{ post.title }}
                            <small>:{{ post.date | date_to_string }}</small>
                        </a>
                    </h3>
                    <p>{{ post.content | strip_html | truncatewords:50}}</p>
                </li>
                {% endfor %}
            </ul>
            <p style="text-align: center;"><a href="/archive.html">Read more posts in the Archive...</a></p>
        </div>
        </div>

      <div class="footer">
        {% include footer.html %}
      </div>
    </div>


  </body>
</html>
